
/classwork/WindowMasterDebug/target/
/classwork/PracticeProgramming/target/
/classwork/Factorizer/target/
/classwork/InterestCalculator/target/
/classwork/LuckySevens/target/
/classwork/BasicProgrammingConcepts/target/
/classwork/RockPaperScissors/target/
/classwork/RockPaperScissors2/target/
/classwork/ObjectInstantiation/target/
/classwork/SimpleCalculator/target/
/classwork/ListExamples/target/
/classwork/MapExamples/target/
/classwork/StateCapitals/target/
